.nav__list {
  display: flex;
  font-size: 0.95rem;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav__link {
  margin-left: 0;
}

.app .nav__hamburger {
  display: none;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 0.5rem;
    font-size: 1rem;
    top: 4rem;
    right: 1rem;
    width: min(13rem, calc(100vw - 2rem)) !important;
    height: auto !important;
    padding: 1rem;
    border: 1px solid var(--clr-border);
    border-radius: 8px;
    background: var(--clr-heading);
    z-index: 100;
  }

  .nav__link {
    margin: 0;
    padding: 0.35rem;
  }

  .nav-link {
    color: white !important;
  }

  .app .nav__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 0.8rem;
  }
}
