.nav__list {
  display: flex;
  font-size: 1.2rem;
  justify-content: flex-end;
}

.nav__link {
  margin-left: 3rem;
}

.app .nav__hamburger {
  display: none;
}

@media (max-width: 600px) {
  .nav__list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1em;
    inset: 0;
    width: 10rem !important;
    height: 15rem !important;
    background: rgb(100, 99, 99);
    z-index: 100;
  }

  .nav__link {
    margin: 0.5em 0;
    padding: 0.5em;
  }

  .nav-link {
    color: white !important;
  }

  .app .nav__hamburger {
    display: flex;
    z-index: 100;
    margin-top: 0rem;
    margin-left: 0.8em;
  }
}
